<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.elisium.halo"
    split="halo" >

    <dist:module
        dist:instant="false"
        dist:title="@string/title_halo">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.elisium.halo.HaloActivity"
            android:label="@string/title_halo_activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
    </application>
</manifest>